<!-- ======= Header ======= -->
<header>
  <div class="header__container">
    <a href="/">
      <img
        src="https://images.ctfassets.net/q1h4kp1lrv59/2XOP3uce2yTaTX6WSbNPbd/d6b1548e2cb0100ba78b2bced0d7af5c/MCCP-wordmark-denim.svg"
        alt="logo"
      />
    </a>
    <div>
      <a href="#">For Providers</a>
      <a href="#">Medications</a>
      <a href="#">Contact Doctor</a>
      <a href="#">Our Mission</a>
      <a class="sign__in--nav" href="/signin">Sign In</a>
      <a href="/signup">Sign Up</a>
    </div>
  </div>
</header>
<!-- End Header -->
