<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>Cost Drugs Delivered</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />

  {% include "partials/head.html" %}
</head>

<body>
  {% include "partials/header.html" %}

  <!-- #main -->
  <main id="main">
    <h1>This is sign up page</h1>
  </main>
  <!-- End #main -->

  {% include "partials/footer.html" %}
</body>

</html>