@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
:root {
  --main--color: #dcf2f9;
  --secondary--color: #13376c;
  --gray--color: #4d5b6f;
  --orange--color: #f06742;
  --bright--blue--color: #0173cb;
  --green--color: #14851d;
  --brighter--blue--color: #f0f9ff;
  --disabled--button--color: #0f1115;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  width: 80rem;
  margin: auto;
  position: relative;
}

/* Nav */
nav {
  background: var(--main--color);
  padding: 24px 0;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--col1 img {
  width: 50%;
}
.nav--col2 {
  display: flex;
  align-items: center;
}
.nav--col2 li {
  margin-left: 64px;
}
.nav--col2 li:first-child {
  margin-left: 0;
}
.nav--col2 li a {
  font-weight: bold;
  color: var(--secondary--color);
}

.sign__in--nav {
  text-decoration: underline;
}

.sign__up--nav {
  padding: 10px 24px;
  border: 2px solid var(--secondary--color);
  border-radius: 50rem;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main--color);
  height: 180px;
}
.header h1 {
  font-size: 3.75rem;
  text-align: center;
  color: var(--secondary--color);
}
.header img {
  position: absolute;
  right: 0;
  top: -57px;
  width: 25%;
}

/* Start Your Search */

.start__your--search {
  margin-top: 50px;
}
.start__your--search .container {
  background-image: url("/images/behind--form.png");
  height: 224px;
  background-position: right;
  padding-left: 128px;
  padding-right: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}
.start__your--search h2 {
  font-size: 1.5rem;
  margin-bottom: 24px;
  color: var(--secondary--color);
}

.start__your--search .container input {
  width: 100%;
  padding-left: 48px;
  padding-right: 15px;
  border-radius: 0.5rem;
  height: 56px;
  border: 1px solid var(--gray--color);
  font-size: 1rem;
}

.start__your--search .container .input {
  position: relative;
}
.start__your--search .container .input i {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
  font-size: 20px;
  color: #535762;
}

/* Medications */

.medications--links {
  margin-top: 50px;
}
.medications--links .active__link--medications {
  text-decoration: underline;
  color: var(--orange--color) !important;
}
.medications--links .container {
  padding-bottom: 50px;
  display: flex;
  border-bottom: 1px solid var(--secondary--color);
}

.medications--links .container ul {
  flex: 1;
}
.medications--links .container ul li {
  margin-bottom: 10px;
}
.medications--links .container ul li a {
  color: var(--secondary--color);
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* All Medications */
#about__price__savings {
  text-align: center;
}
.all--medications {
  margin-bottom: 32px;
}
.all--medications h2 {
  color: var(--secondary--color);
  font-size: 1.25rem;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 32px;
}

.all--medications #all--medications--div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.all--medications #all--medications--div p {
  margin-right: 10px;
}

/* Medications List */

.medications--list__table {
  display: flex;
  align-items: center;
  background: var(--main--color);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.medications--list__table .prva--lista {
  flex: 3;
  padding: 16px;
}
.medications--list .druga--lista,
.medications--list .treca--lista,
.medications--list .cetvrta--lista,
.medications--list .peta--lista,
.medications--list .sesta--lista {
  flex: 1;
  padding: 16px;
  display: flex;
  justify-content: center;
}
.medications--list__table li a {
  font-size: 1.25rem;
  color: #000;
  font-weight: 600;
}

/* Div */

.medications--lista--div {
  display: flex;
}

.medications--lista--div .prva--lista--medic {
  flex: 3;
  padding: 16px;
  display: flex;
  align-items: center;
}
.medications--lista--div .prva--lista--medic a {
  text-decoration: underline;
  color: var(--bright--blue--color);
}
.medications--lista--div .druga--lista--medic,
.medications--lista--div .treca--lista--medic,
.medications--lista--div .cetvrta--lista--medic,
.medications--lista--div .peta--lista--medic,
.medications--lista--div .sesta--lista--medic {
  flex: 1;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.medications--lista--div .druga--lista--medic a,
.medications--lista--div .treca--lista--medic a,
.medications--lista--div .cetvrta--lista--medic a,
.medications--lista--div .peta--lista--medic a,
.medications--lista--div .sesta--lista--medic a {
  color: #000;
  cursor: default;
  pointer-events: none;
  text-align: center;
}

.treca--lista--medic a {
  text-decoration: line-through;
}
.peta--lista--medic a {
  color: var(--green--color) !important;
}

.sesta--lista--medic a {
  padding: 2px 16px;
  border: 2px solid var(--secondary--color);
  border-radius: 50rem;
  transition: all 0.3s ease;
  background: transparent;
  color: var(--secondary--color);
  font-weight: 600;
}

.sesta--lista--medic a:hover {
  background: var(--secondary--color);
  color: #fff;
}

/* Add New Medications */

.add__new--medications {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--brighter--blue--color);
  /* height: 460px; */
  justify-content: center;
  border-radius: 20px;
  position: relative;
  margin-top: 48px;
  padding: 0 16px;
  padding-top: 32px;
  padding-bottom: 16px;
  text-align: center;
}
.add__new--medications h2 {
  font-size: 2.25rem;
  color: var(--secondary--color);
  margin-bottom: 32px;
}
.add__new--medications P {
  font-size: 1.25rem;
  width: 80%;
}
.add__new--medications--img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.add__new--medications form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  width: 60%;
  align-items: center;
}
.add__new--medications form input {
  width: 100%;
  margin-bottom: 16px;
  padding: 16px 24px;
  border-radius: 0.357rem;
  font-size: 1rem;
}
.add__new--medications form button {
  margin-top: 16px;
  padding: 0.9rem 2rem;
  opacity: 0.5;
  cursor: not-allowed;
  font-size: 1rem;
  background: var(--disabled--button--color);
  color: #fff;
  width: 300px;
  border-radius: 50rem;
}
